<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:hsf="http://www.taobao.com/hsf"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.taobao.com/hsf
       http://www.taobao.com/hsf/hsf.xsd" default-autowire="byName">

    <!-- 限流、降级配置 -->
    <bean id="customEditorConfigurer"
          class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="propertyEditorRegistrars">
            <list>
                <bean class="com.taobao.csp.sentinel.entrypoint.entrance.HSFSpringProviderBeanRegistrar"/>
            </list>
        </property>
    </bean>

    <bean id="edasDemoServiceImpl" class="com.alibaba.edas.test.service.EdasDemoServiceImpl"/>
    <hsf:provider id="edasDemoService" interface="com.alibaba.edas.test.EdasDemoService" ref="edasDemoServiceImpl"
                  group="QINGDAO0525" version="1.0.0"/>
</beans>